TicketDesk/TicketDesk.ServiceClient/Web References/Ticket/SubmitTicket.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://pragmatic.al/webservices" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://pragmatic.al/webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://pragmatic.al/webservices">
      <s:element name="AddNewTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientPhone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ticketType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="details" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="priority" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="affectedCostumer" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddNewTicketResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmailAddTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticketType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="details" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="priority" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="affectedCostumer" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmailAddTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EmailAddTicketResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddNewTicketSoapIn">
    <wsdl:part name="parameters" element="tns:AddNewTicket" />
  </wsdl:message>
  <wsdl:message name="AddNewTicketSoapOut">
    <wsdl:part name="parameters" element="tns:AddNewTicketResponse" />
  </wsdl:message>
  <wsdl:message name="EmailAddTicketSoapIn">
    <wsdl:part name="parameters" element="tns:EmailAddTicket" />
  </wsdl:message>
  <wsdl:message name="EmailAddTicketSoapOut">
    <wsdl:part name="parameters" element="tns:EmailAddTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="SubmitTicketSoap">
    <wsdl:operation name="AddNewTicket">
      <wsdl:input message="tns:AddNewTicketSoapIn" />
      <wsdl:output message="tns:AddNewTicketSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmailAddTicket">
      <wsdl:input message="tns:EmailAddTicketSoapIn" />
      <wsdl:output message="tns:EmailAddTicketSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SubmitTicketSoap" type="tns:SubmitTicketSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewTicket">
      <soap:operation soapAction="http://pragmatic.al/webservices/AddNewTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailAddTicket">
      <soap:operation soapAction="http://pragmatic.al/webservices/EmailAddTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SubmitTicketSoap12" type="tns:SubmitTicketSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewTicket">
      <soap12:operation soapAction="http://pragmatic.al/webservices/AddNewTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailAddTicket">
      <soap12:operation soapAction="http://pragmatic.al/webservices/EmailAddTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubmitTicket">
    <wsdl:port name="SubmitTicketSoap" binding="tns:SubmitTicketSoap">
      <soap:address location="http://localhost:5425/SubmitTicket.asmx" />
    </wsdl:port>
    <wsdl:port name="SubmitTicketSoap12" binding="tns:SubmitTicketSoap12">
      <soap12:address location="http://localhost:5425/SubmitTicket.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>